.content {
	width: 70%;
	min-width: 400px;
	max-width: 2000px;
	/* background: #9cea78; */
}

* {
	outline: none;
	-webkit-outline: none;
	-ms-outline: none;
	-webkit-user-select: none !important;
	/* Safari */
	-ms-user-select: none !important;
	/* IE 10 and IE 11 */
	user-select: none !important;
	/* Standard syntax */
}

*:focus-visible {
	outline: none;
	-webkit-outline: none;
	-ms-outline: none;
	border: none;
	-webkit-border: none;
	-ms-border: none;
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.badge {
	/* overflow: hidden; */
	/* inline-size: min-content; */
	white-space: nowrap;
	/* font-size: 0.8rem; */
}

.recent_expenses {
	width: 35rem;
	min-width: 20rem;
	max-width: 45%;
}

/* 
.content {
	overflow: hidden;
}
.expenses_content {
	overflow: hidden;
}
.container {
	overflow: hidden;
}
.recent_expenses {
	height: 45vh;
}

.expenses {
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	height: inherit;
} */
/* scroll bar */
*::-webkit-scrollbar-thumb {
	background: var(--color);
	border-radius: 10px;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
	background: #e8e8e8;
	border-radius: 10px;
}

@media screen and (min-width: 1200px) {
	.canvasChart {
		width: 240px !important;
	}
}

@media screen and (max-width: 750px) {
	.mediaNav {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 19%;
		position: fixed;
		justify-content: space-evenly;
		padding-top: 0px;
		/* background-color: red; */
	}
	.mediaLogo{
		flex-direction: row;
		padding: 0px;
		margin: 0px;
		margin-bottom: 2vh;
		margin-right: 11vw;
		/* background-color: red; */
	}
	.mediaNavs{
		display: flex;
	}
	.arrowSide{
		display: none;
	}
	.mediaFoot{
		height: 15vh;
	}
	.mediaRemaining{
		font-size: 15px;
		font-weight: bold;
	}
	.mediaForm{
		position: relative;
		margin-top: 18vh;
		overflow: auto;
	}
	.mediaFormBackground{
		width: 90%;
		height: min-content;
	}
	.formButton{
		display: flex;
		justify-content: space-between;
	}
	.mediaWidth{
		width: 22vw;
	}
}
@media screen and (max-width: 410px){
	.mediaNav {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 19%;
		position: fixed;
		justify-content: space-evenly;
		padding-top: 0px;
		/* background-color: red; */
	}
	.mediaWidth{
		width: 22vw;
	}
	.mediaimg{
		padding-left: 0;
		column-gap: 0;
	}
	.mediaFormBackground{
		width: 70%;
	}
	.mediaHeading{
		font-size: 6vw;
		margin-left: 1vw;
	}
	.mediaRemove{
		display: none;
	}
	.mediaAuto{
		width: auto;
	}
}
